@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Khula&display=swap');


@media (min-width: 768px) {
  .studio {
    max-width: 100%;
    margin: 2.5em 5em 0 5em;
    background-color: rgb(249,236,224, 0.5);
    height: 80vh;
    
  }
  .studio a{
    text-decoration: none;
    background-color:rgb(244,225,195);
  }
  .coming-soon-text {
    padding-top: 5em;
  }
  .soon {
    font-size: 28px;
  }
  .studio-container {
    text-align: center;
    padding-left: 0.5em;
    padding-top: 2em;
    font-family: 'Julius Sans One', sans-serif;
    color: #343634; 
  }

  .studio h2{
    vertical-align: middle;
    line-height: 1em;
    text-align: center;
    display: inline-block;
}
.studio h2::after{
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    margin: auto;
    margin-top: 10px;
    background-color: #343634;
}

}