@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Khula&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital@1&display=swap');

@media (min-width: 768px) {

    .About {
        padding: 80px;
        
        text-align: center;
        font-family: 'Julius Sans One', sans-serif;
        color: #343634;
    }

    .About h2{
        vertical-align: middle;
        text-transform: uppercase;
        line-height: 1em;
        text-align: center;
        display: inline-block;
        letter-spacing: -1px;
    }
    .About h2::after{
        content: "";
        display: block;
        width: 70%;
        height: 1px;
        margin: auto;
        margin-top: 10px;
        background-color:#343634;
    }
    .About h3{
        text-transform: uppercase;
    }

    #yogateacher {
        display: flex; 
        justify-content: space-evenly;
        font-family: 'Julius Sans One', sans-serif;
        padding-top: 10px;
    }
    #yogateacher .container {
        width: 400px;
        /* background-color: blue; */
    }
    

    
}

